<!DOCTYPE html>
<html>
    <head>
        <title>Personal Finance Tracker</title>
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='css/styles.css')}}" />
    </head>
    <body>
        <div class="title">
            <h1>
                <a href="/">Welcome to Personal Finance Tracker!</a>
            </h1>
        </div>

        <a href="{{ url_for('add_user') }}">Add New User</a>
        <a href="{{ url_for('get_users') }}">List All Users</a>
    </body>
</html>
